p[class]{color:white;}
p[class]{font-family: comic sans ms;}
p[class="second"]{color:darkred;}
h1[class]{color:white;}
h1[class]{font-family: brush script mt;}
h1[class]{text-align: center;}
body[class]{background-color: black;}
