a{font-family: comic sans ms; color: white;}
body{background-color: black;}
h1{font-family: brush script mt; text-align: center; color: white;}
a:link{color:darkred}
a:visited{color: brown;}
a:hover{color:white}
a:active{color: grey;}

