.keigo{border:dotted darkred; font-family: comic sans ms; width: 500; text-align: center; color: white;}
.touya{font-family: cursive; color: darkred; text-align: center;}
.tomura{background-color: black;}
.tamaki{font-family: brush script mt; color: white;text-align: center;}